{% extends 'encyclopedia/layout.html' %}
<!--initiating the body block-->
{% block body %}
{% if existing %}
<div class="alert alert-danger"role-"alert">
   This entry already exists.If you want to view or edit it,
   <a class ="alert-link" href="/wiki/{{ entries }}"> click here </a>.
</div>
<div class="alert alert-info" role="alert">
   or you can change the entry name down here.It's up to you
</div>
{% endif %}
<br>
<div class="form-group">
   <form action="{% url 'newentry' %}" method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="submit">
   </form>
</div>
{% endblock %} 